:root {
  --background: #f8f8f8;
  --text-color: #000000;

  --white: #ffffff;
  --black: #000000;

  --background-gray: #f2f0f1;
  --background-gray-2: #f0f0f0;
  --text-color: #000000;
  --accent: #ace238;

  --background-color: #ffffff;
  --gray: #c4c4c4;
  --gray-light: #f0f0f0;
  --red: #ff3333;

  --border-radius: 62px;

  --padding-side: 7.9%;
  --filter: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  transition: all 0.25s;
}

*::after,
*::before {
  transition: all 0.2s;
}

html,
body {
  /* overflow-x: hidden; */
}

html {
  font-size: 16px;
  color: var(--text-color);
  overflow-y: hidden;
}

body {
  width: 100%;
  background: var(--background);
  font-family: sans-serif;
  overflow-y: scroll;
  height: 100vh;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}

body {
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

/* // @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
// } */

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

li {
  list-style: none;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
  color: var(--text-color);
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Light-webfont.woff2") format("woff2");
  font-weight: 400;
  line-height: 22px;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular-webfont.woff2") format("woff2");
  font-weight: 500;
  line-height: 18px;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold-webfont.woff2") format("woff2");
  font-weight: 700;
  line-height: 22px;
}

body {
  font-family: "Open Sans";
}

button {
  border: none;
  outline: none;
  font-weight: 500;
  cursor: pointer;
  display: inline;
  padding: 15px 20px;
  border-radius: 10px;
}

.btn-default {
  background-color: var(--gray);
  border: 1px solid var(--white);
}

.btn-green {
  background-color: var(--accent);
  color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
